._item {
    display: flex;
    font-size: 12px;

}

._text {
    font-size: 24px;
}

.source_projects {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.no-bullet {
    list-style-type: none;
  }